* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: cornflowerblue;
  }
  
  body, html {
    height: 100%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total de la ventana */
    text-align: center;
  }
  
  .title {
    margin-bottom: 20px; /* Espacio entre el título y el iframe */
    font-weight: 80;
  }
  
  .giphy iframe {
    max-width: 100%;
    height: auto;
  }
  